* {
  padding: 0;
  margin: 0;
  font-family: monospace, sans-serif, monaco;
  font-size: 15px;
  color: black;
}

#map {
  height: 1080px;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:not(:checked) {
  background: #999;
  height: 16px;
  width: 16px;
  display: inline-block;
  padding: 0 0 0 0px;
}

input[type="checkbox"]:checked {
  background: #0080ff;
  height: 16px;
  width: 16px;
  display: inline-block;
  padding: 0 0 0 0px;
}

/* layer control */

.leaflet-control-layers-toggle {
  background-image: url(assets/more.png) !important;
  background-color: white;
  background-size: 40px 40px;
  border-radius: 25px;
}

.leaflet-control-layers-expanded {
  color: black;
  background-color: white;
}
